{% element 'snippets/breadcrumb' %}
<figure class="banner-title">{{ banner.title }}</figure>
{% if products|length > 0 %}
<aside class="smart_filter col-xs-3 visible-lg">
    <h1 class="head_title">{{ category.name }}</h1>
    <button class="mobileFilter btn btn-primary pull-right hidden-lg">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    {% element('snippets/smart_filter') %}
</aside>
{% if banner.title %}
{% endif %}
<section class="products-categorys col-xs-12 col-lg-9">
    <div class="row">
        <div class="col-xs-12 pagination-search-and-category top">
            <button class="mobileFilter btn btn-primary pull-left hidden-lg" data-id="sm-filter">Filtro</button>
            <span class="catalogo-display">{{ paginate.counter('Resultado <strong>{:count} Produtos</strong> em <strong>{:pages} Páginas</strong>') }}</span>
            <div class="filter-category">
                {% element 'snippets/filter' {'brands': category.brands } %}
            </div>
            {% element 'snippets/pagination' %}
        </div>
        <div class="products col-xs-12">
            {% element 'snippets/showcase' {"products": products} %}
        </div>
        <div class="category__description">
            {{ category.small_description }}
        </div>
        <div class="col-xs-12 pagination-search-and-category bottom">
            <span class="catalogo-display">{{ paginate.counter('Resultado <strong>{:count} Produtos</strong> em <strong>{:pages} Páginas</strong>') }}</span>
            {% element 'snippets/pagination' %}
        </div>
    </div>
</section>
{% else %}
<p class="message--no-products">Nenhum produto encontrado nessa categoria.</p>
{% endif %}
