
<h2 class="banners-extra__title title--main">Top Marcas </h2>
<section class="brands__list">
        <ul>
            {% if (settings['marca-01']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link01 }} " target="_blank">
                        <img src="{{asset (settings['marca-01']) }} " alt="{{settings['marca-01']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-02']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link02 }} " target="_blank">
                        <img src="{{ asset (settings['marca-02']) }} " alt="{{settings['marca-02']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-03']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link03 }} " target="_blank">
                        <img src="{{ asset (settings['marca-03']) }} " alt="{{settings['marca-03']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-04']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link04 }} " target="_blank">
                        <img src="{{ asset (settings['marca-04']) }} " alt="{{settings['marca-04']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-05']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link05 }} " target="_blank">
                        <img src="{{ asset (settings['marca-05']) }} " alt="{{settings['marca-05']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-06']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link06 }} " target="_blank">
                        <img src="{{ asset (settings['marca-06']) }} " alt="{{settings['marca-06']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-07']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link07 }} " target="_blank">
                        <img src="{{ asset (settings['marca-07']) }} " alt="{{settings['marca-07']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-08']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link08 }} " target="_blank">
                        <img src="{{ asset (settings['marca-08']) }} " alt="{{settings['marca-08']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-09']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link09 }} " target="_blank">
                        <img src="{{ asset (settings['marca-09']) }} " alt="{{settings['marca-09']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-10']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link10 }} " target="_blank">
                        <img src="{{ asset (settings['marca-10']) }} " alt="{{settings['marca-10']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-11']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link11 }} " target="_blank">
                        <img src="{{ asset (settings['marca-11']) }} " alt="{{settings['marca-11']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-12']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link12 }} " target="_blank">
                        <img src="{{ asset (settings['marca-12']) }} " alt="{{settings['marca-12']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-13']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link13 }} " target="_blank">
                        <img src="{{ asset (settings['marca-13']) }} " alt="{{settings['marca-13']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-14']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link14 }} " target="_blank">
                        <img src="{{ asset (settings['marca-14']) }} " alt="{{settings['marca-14']}}">
                    </a>
                </li>
            {% endif %}
            {% if (settings['marca-15']) %}
                <li class="carrossel-marca">
                    <a href=" {{ settings.link15 }} " target="_blank">
                        <img src="{{ asset (settings['marca-15']) }} " alt="{{settings['marca-15']}}">
                    </a>
                </li>
            {% endif %}
        </ul>
        
        </section>