<section class="servicos_bloco">
  <ul class="servicos_list">
      {% if (settings['servicos-01']) %}
        <li class="servicos_list-item">
            <a href=" {{ settings.servicoslink01 }} " class="servicos_list-link" name="servicoslink01">
                <img src="{{asset (settings['servicos-01']) }} " class="servicos_list-img" alt="{{settings['servicos-01']}}">
                <label for="servicoslink01">{{ settings.labelname01 }}</label>
            </a>
        {% if (settings['servicos-02']) %}
            <a href=" {{ settings.servicoslink02 }} " class="servicos_list-link" name="servicoslink02">
                <img src="{{asset (settings['servicos-02']) }} " a class="servicos_list-img" alt="{{settings['servicos-02']}}">
                <label for="servicoslink01">{{ settings.labelname02 }}</label>
            </a>
        {% endif %}
        </li>
    {% endif %}

    {% if (settings['servicos-03']) %}
        <li class="servicos_list-item">
            <a href=" {{ settings.servicoslink03 }} " class="servicos_list-link">
                <img src="{{asset (settings['servicos-03']) }} " a class="servicos_list-img" alt="{{settings['servicos-03']}}">
                <label for="servicoslink01">{{ settings.labelname03 }}</label>
            </a>
        </li>
    {% endif %}
    {% if (settings['servicos-04']) %}
        <li class="servicos_list-item">
            <a href=" {{ settings.servicoslink04 }} " class="servicos_list-link">
                <img src="{{asset (settings['servicos-04']) }} " a class="servicos_list-img" alt="{{settings['servicos-04']}}">
                <label for="servicoslink01">{{ settings.labelname04 }}</label>
            </a>
        </li>
    {% endif %}
    {% if (settings['servicos-05']) %}
        <li class="servicos_list-item">
            <a href=" {{ settings.servicoslink05 }} " class="servicos_list-link">
                <img src="{{asset (settings['servicos-05']) }} " a class="servicos_list-img" alt="{{settings['servicos-05']}}">
                <label for="servicoslink01">{{ settings.labelname05 }}</label>
            </a>
    {% if (settings['servicos-06']) %}
            <a href=" {{ settings.servicoslink06 }} " class="servicos_list-link">
                <img src="{{asset (settings['servicos-06']) }} " a class="servicos_list-img" alt="{{settings['servicos-06']}}">
                <label for="servicoslink01">{{ settings.labelname06 }}</label>
            </a>
    {% endif %}
        </li>
    {% endif %}

  </ul>
</section>